{{- $class := cond (isset .Attributes "usetheme") "chroma" "chroma-custom" }}
{{- with .Attributes.class }}{{ $class = printf "%s %s" $class . }}{{ end -}}
{{- $title := or .Attributes.title "" -}}
<div class="highlight-wrapper">
  {{- with $title -}}
    <div class="codeblock-title">{{- . -}}</div>
  {{- end -}}
  {{- if transform.CanHighlight .Type }}
  <div class="highlight"><pre tabindex="0" class="{{ $class }}"><code class="language-{{ .Type }}" data-lang="{{ .Type }}">
  {{- with transform.HighlightCodeBlock . -}}
      {{ .Inner }}
  {{- end -}}
  </code></pre></div>
  {{- else -}}
  <pre tabindex="0"><code class="language-{{ .Type }}" data-lang="{{ .Type }}">{{ .Inner }}</code></pre>
  {{- end -}}
</div>
